#main{
    margin-top: 60px;
}

#canvas {
    display: none;
    margin-top: 3px;
    float: right;
       
}

#photo{
    margin-top: 10px;
    margin-bottom: 3px;
}

#video {
    margin-top: 10px;    
}


.btn{
    font-family: 'Ubuntu', sans-serif;
    margin: 10px;
}

.brand-logo{
    font-family: 'Calibri';
    margin-left: 10px;
    color:white;
}

h2{
    font-family: 'Libre Barcode 128 Text', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    margin-top: 60px; 
}

em {
    background-color: rgb(152, 153, 158);
    padding: 4px;
    border-radius: 3px;
    font-family: monospace;
    border-bottom: 1px solid gray;
    color: white;
    display: inline-block;
}

.card-title {
    font-size: 40px !important;
}

body {
    background: repeating-radial-gradient(
        circle,
        rgba(224, 224, 224, 0.829),
        rgba(224, 224, 224, 0.829) 10px,
        #dbdbdb 10px, 
        #dbdbdb 20px
      );
}

a, p{
    font-family: 'Ubuntu', sans-serif; 
}

#photobooth{
    height: 250px;
}

#instructions{
    height: 275px;
}


#song{
    height: 150px;
    margin: 0 auto;
}

.preview{
    margin-top: 40px;
    border-radius: 25px;
    display: none;
}


#github-icon{
    height: 50px;
    margin-top: 7px;
}

