.container {
    margin-top: 200px;
}

.camContainer {
    width: 320px;
    height: 240px;
    margin-top: 50px;
    margin-left: 20px;
    float: left;
}

.snapContainer {
    width: 320px;
    height: 240px;
    margin-top: 50px;
    margin-right: 20px;
    float: right;
}

#canvas {
    display: none;
}

video {
    width: 320px;
    height: 240px;
}

#photobooth {
    width: 700px;
    height: 500px;
    margin: 0 auto;
    border-radius: 5px;
}

.btn {
    margin: 10px;
}

.brand-logo {
    font-family: 'Chango', cursive;
    margin-left: 10px;
}

a {
    font-family: 'Chango', cursive;
}