#main{
    margin-top: 60px;
}



/* .camContainer {
    width: 320px;
    height:240px;
    margin-top: 50px;
    margin-left: 20px;
    float: left;
}

.snapContainer {
    width: 320px;
    height: 240px;
    margin-top: 50px;
    margin-right: 20px;
    float: right;
} */


#canvas {
    display: none;
    margin-top: 3px;
    float: right;
       
}

#photo{
    margin-top: 10px;
    margin-bottom: 3px;
}

#video {
    margin-top: 10px;    
}


.btn{
    margin: 10px;
}

.brand-logo{
    font-family: 'Chango', cursive;
    margin-left: 10px;
    color:white;
}

h2{
    font-family: 'Chango', cursive;
    margin-top: 60px; 
}

a{
    font-family: 'Chango', cursive; 
}

#photobooth, #instructions{
    height: 250px;
}

#trackList{
    height: 350px;
}


#github-icon{
    height: 50px;
    margin-top: 7px;
}

